@font-face {
  font-family: 'source_code_proextralight';
  src        : url('sourcecodepro-extralight-webfont.woff2') format('woff2'),
      url('sourcecodepro-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;

}

@font-face {
  font-family: 'source_code_prolight';
  src        : url('sourcecodepro-light-webfont.woff2') format('woff2'),
      url('sourcecodepro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;

}

@font-face {
  font-family: 'source_code_proregular';
  src        : url('sourcecodepro-regular-webfont.woff2') format('woff2'),
      url('sourcecodepro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;

}

@font-face {
  font-family: 'source_code_prosemibold';
  src        : url('sourcecodepro-semibold-webfont.woff2') format('woff2'),
      url('sourcecodepro-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;

}

@font-face {
  font-family: 'source_code_problack';
  src        : url('sourcecodepro-black-webfont.woff2') format('woff2'),
      url('sourcecodepro-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;

}

@font-face {
  font-family: 'source_code_probold';
  src        : url('sourcecodepro-bold-webfont.woff2') format('woff2'),
      url('sourcecodepro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

html { 	scroll-behavior: smooth;  }

/* remove all browser margin/padding  */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  /* background: #bbd2c5; */
  /* background: -webkit-linear-gradient(to bottom, #536976, #bbd2c5);
  background: linear-gradient(to bottom, #536976, #bbd2c5); */
  background-image: url("../images/1657858.jpg");
  background-size:cover;
  background-position: bottom center;
  /* background-repeat: repeat; */
  background-attachment: fixed;
  font-family             : 'source_code_proregular';
  overflow: overlay;
}
.header-height {
  margin: auto;
  width: 98vw;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  height: 100vh;
}
.header-card {
  font-size: 2rem;
  width: 20vw;
  margin: auto;
  padding: 50px;
  background-color: rgba(34, 30, 31, .5);
  color: white;
}

a.header {
  text-decoration: none;
  width: fit-content;
  color:#fff;
  margin: auto;
}

.rounded-border {
  border-radius: 2%;
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Down-Arrow {
  display: flexbox;
  margin: auto auto 5vh;
}

.info-container {
  width: 98vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info-card {
  background: rgba(34, 30, 31, 0.7);
  color: white;
  width: 40vw;
  min-width: 300px;
  margin: 50px auto 0;
}
.card-img-top {
  width: 35%;
  display: block;
  margin: 60px auto 25px;
}
.section-height {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  height: 100vh;
}
.center {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
.center-text {
  text-align: center;
}
section .card-text { 
  margin: 20px  40px;
  padding: 20px  0;
  text-align: left;
  border-top: solid 1px grey;
}
section .student-text {
  height: 240px;
vertical-align:middle;
  margin: 10px 20px 20px 20px;
  padding: 20px;
  text-align: left;
  border-top: solid 1px grey;
  border-radius: 2%;
overflow: hidden;
}
#student-section {
  padding-top: 50px;
}
.students {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.student-card {
  padding-top: 5px;
  background: rgba(34, 30, 31, 0.7);
  color: white;
  height: 650px;
}
.student-img {
  width: 70%;
  display: block;
  margin: 40px auto 5px;
  border-radius: 10% 10% 10% 50%;
}
.card {
  width: 100%;
  height: fit-content;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin: auto;
}
.scene {
  width: 380px;
  height: 650px;
  perspective: 600px;
  margin: 0 10px 5vh 10px;
}
.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card__face--back {
  transform: rotateY( 180deg );
}
.card.is-flipped {
  transform: rotateY(-180deg);
}
.student {
  margin: auto;
}
.social-icons {
  width: 50px;
  margin: 10px 0;
}

.social-wrap {
  border-top: solid 1px grey;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img.turn {
  position: absolute;
  transform: translate(-32px,-350px);
  width: 100px;
  backface-visibility: hidden;
}
img.turnb {
  /* position: absolute; */
  transform: translate(302px,-330px);
  width: 100px;
  backface-visibility: hidden;
}

  .social-wrap {
    flex-direction: row;
    justify-content: space-around;
  }
  @media (max-width: 612px){

    .section-height {
      height: fit-content;
    }
  }
 