  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html { 	scroll-behavior: smooth;  }

/* remove all browser margin/padding  */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align:top;
}
body {
  font-size: 18px;
  background-size:cover;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  overflow: overlay;
}
@media screen and (max-width:800px) {
  body {
    
    background-image: url("../images/bg-nHD.jpg");
    background-position: bottom center;
    

  }
}
@media screen and (min-width:801px) and (max-width:1999px) {
  body {
    background-image: url("../images/bg-1080.jpg");
    background-position: bottom center;
  };
}
@media screen and (min-width : 2000px){
  body{
    background-image: url("../images/bg-4k.jpg");
    background-position: bottom center;
  };
}

img.arrow-top {
  z-index: 1000;
  width: 50px;
  position: fixed;
  bottom: 50px; 
  right: 50px;
}
.header-height {
  margin: auto;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  height: 100vh;
}
.header-card {
  font-size: 2rem;
  width: 20vw;
  min-width: 250px;
  margin: auto;
  padding: 50px;
  background-color: rgba(34, 30, 31, .6);
  color: white;
}

a{
  text-decoration: none;
  width: fit-content;
  color:#fff;
  margin: auto;
}
.student-text img{

  transition: 0.1s ease-in-out;

}

.rounded-border {
  border-radius: 2%;
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Down-Arrow {
  display: flexbox;
  margin: auto auto 5vh;


}
.Down-Arrow img{
opacity: .7;
}
.Down-Arrow img:hover{
  opacity: 1;
}
.info-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info-card {
  background: rgba(34, 30, 31, 0.6);
  color: white;
  width: 40vw;
  min-width: 300px;
  margin: 50px auto 0;
}
.card-img-top {
  width: 20%;
  display: block;
  margin: 20px auto 20px;
}
.section-height {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  height: 100vh;
}
.center {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
.center-text {
  text-align: center;
}
section .card-text { 
  margin: 20px  40px;
  padding: 20px  0;
  text-align: left;
  border-top: solid 1px grey;
}
.card-right ul,li{

margin-left: 20px;

}

.d-flex {
display: flex;
justify-content: space-around;

}

.d-flex ul{
  margin-top: 10px;
}

@media (max-width : 1100px) {
  .d-flex {
    flex-direction: column;
  }
  }


#student-section h3 {
  border-bottom: solid 1px grey;
  padding-bottom: 15px;
  
}
#teachers-section h3 {
  border-bottom: solid 1px grey;
  padding-bottom: 15px;
  
}
section .student-text {
  height: 260px;
  

vertical-align:middle;
  margin: 20px 20px;
  padding: 10px 0px;
  text-align: left;
  border-top: solid 1px grey;
overflow: hidden;
}
#student-section {
  padding-top: 50px;
}
.students {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.teachers {
  width: 90vw;  
  display: flex;
  margin:auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.students-card {
  font-size: 2rem;
  width: 20vw;
  min-width: 250px;
  margin: 0px auto 10vh auto ;
  padding: 50px;
  background-color: rgba(34, 30, 31, .6);
  color: white;
}
.teachers-card {
  font-size: 2rem;
  width: 20vw;
  min-width: 250px;
  margin: 0px auto 10vh ;
  padding: 50px;
  background-color: rgba(34, 30, 31, .6);
  color: white;
}
.student-card {
  padding-top: 0px;
  background: rgba(34, 30, 31, 0.7);
  color: white;
  height: 650px;
}
.student-cardb {
  padding-top: 0px;
  background: rgba(34, 30, 31, 0.7);
  color: white;
  height: 650px;
}
.student-img {
  width: 70%;
  display: block;
  margin: 10px auto 5px;
  border-radius: 10% 10% 10% 50%;
}
p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
p.Michiel {
  line-height: 1.3rem;

}
h2 {
  padding-top: 10px;
  font-size: 1.5rem;
  margin-block-start: 0em;
    margin-block-end: 0em;
}
.card {
  width: 100%;
  height: fit-content;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin: auto;
}
.scene {
  width: 380px;
  height: 635px;
  perspective: 600px;
  margin: 0 10px 5vh 10px;
  transition: 0.2s ease-in-out;
}
.scene:hover{  
 transform: scale(1.02) ;

}

 /* .jens.scene{
  transition: 2s ease-in-out;
}
.jens.scene:hover{  
  transform: scale(0.2) rotate(3600deg);
}  */

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card__face--back {
  transform: rotateY( 180deg );
}

.card.is-flipped {
  transform: rotateY(-180deg);
}
.student-card.is-flipped {
  transform: rotateY(-180deg);
}
.set-background {
  background-color:rgba(34, 30, 31, 0.9);
}
.student {
  margin: auto;
  
}

.social-icons {
  width: 50px;
  margin: 10px 0;
  
}
.social-icons:hover {
  
    transform: scale(1.5) ;
    
    
  
  
}

.social-wrap {
  border-top: solid 1px grey;
  margin: 10px 30px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.web-link {
  width: 230px;

}
.web-link:hover {
  transform: scale(1.4) ;

}

img.turn {
  position: absolute;
  transform: translate(-33px,-0px);
  width: 100px;
  backface-visibility: hidden;
}
img.turnb {
  position: absolute;
  transform: translate(303px,-0px);
  width: 100px;
  backface-visibility: hidden;
}

@media(max-width: 1178px){
  #info-section{
    height: fit-content;
    }
    .Down-Arrow{
      display: none;
    }
  } 
  
  @media (max-width: 612px){

    .section-height {
      height: fit-content;
    }
    .scene {
      margin: 0 0px 5vh 0px;
      width: 300px;
      height: 700px;
    }
    .student-cardb {
      padding-top: 0px;
      height: 700px;
    }
    .student-card {
      padding-top: 0px;
        height: 700px;
    }
    section .student-text {
      height: 340px;
    vertical-align:middle;
      margin: 20px 20px;
      padding: 10px 0px;
      text-align: left;
      border-top: solid 1px grey;
    overflow: hidden;
    }
    img.turnb {
      transform: translate(223px,-0px);
    }
    
  }
  .form-height {
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    height: 100vh;
  }
  .form-card {
    font-size: 2rem;
    width: 30vw;
    min-width: 280px;
    margin: auto;
    padding: 50px;
    background-color: rgba(34, 30, 31, .6);
    color: white;
  }
  .form-control{

    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px 0;

  }
  #fs-frm-inputs{
    border-top: 1px solid grey;
    margin-top: 20px;
  }
  .form-control label{
    font-size: 1.2rem;
    margin-bottom: 5px;
    border: none;
  }
  .form-control input,textarea{
    background: rgba(34, 30, 31, .6);
color: white;
border: none;
resize: none;
font-size: 1rem;
padding: 5px;

  }
  .form-button{
    background: rgba(34, 30, 31, .6);
    font-size: 1.2rem;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 30px;
    border: 1px solid rgba(34, 30, 31, 0);
    
    
  }
  .form-button:hover{
    transition: 0.2s ease-in-out;
    background-color: transparent;
    border: 1px solid rgba(34, 30, 31, .6);
    cursor: pointer;
  }

  footer{
    background-color: rgba(34, 30, 31, .6);
    display: flex;
    justify-content: center;   
    height: 5vh;    
  }
  footer img{
      height: 4vh;
      filter: grayscale(80%);
  }
  footer img:nth-child(2) {
    height: 3vh;
    }

    .footer-wrap{
      width: 30vw;
      display: flex;
    justify-content: space-around;    
    align-items: center;      
    }
