body {
  background: #bbd2c5;
  background: -webkit-linear-gradient(to bottom, #536976, #bbd2c5);
  background: linear-gradient(to bottom, #536976, #bbd2c5);
  background-attachment: fixed;
}
.center-text {
  text-align: center;
}

header {
  height: 100vh;
}

.header-card {
  margin: auto;
  padding: 50px;
  background-color: rgba(34, 30, 31, 0.65);
  color: white;
}

.info-section {
  /* background: #bbd2c5; */
  height: 100vh;
}

.row-dimension {
  width: 80vw;
  height: 100vh;
  margin: auto;
}

.card-width {
  width: 40vw;
}

.card-img-top {
  width: 35%;
  display: block;
  margin: 60px auto 25px;
}

.info-card {
  background: rgba(34, 30, 31, 0.65);
  color: white;
}

section .card-text {
  margin: 20px;
  padding: 20px 0;
  text-align: justify;
  border-top: solid 1px grey;
}
